@import "tailwindcss";

:root {
  --font-poppins: "Poppins", sans-serif;
  --primary-bg-black: rgba(21, 19, 18, 255);
  --secondary-bg-black: rgba(28, 27, 24, 255);
  --primary-fg-white: rgba(254, 255, 254, 255);
  --secondary-fg-grey: #998f8f;

  --primary-bg-white: rgba(254, 255, 254, 255);
}

body {
  /* font-family: var(--font-poppins); */
  background-color: var(--primary-bg-black);
  color: var(--primary-fg-white);
}
